.blc001{
    /* align-self:center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.container{  /*class*/
    /* border-radius: 10px; */
    /* background-color:aqua; */
    /* border-width: 2px solid #000; */
    /* box-shadow: 0 0 10px rgba(44, 71, 71, 0.5); */
    /* width: 200px; */
    /* height: 200px; */

    /* padding:20px; */
}