/* colors */
:root{
	--back: #ffffff;
	--h1: #0000a0;
	--normal-text: #000000;
}

.dark-theme{
	--back: #252525;
	--h1: #5454c0;
	--normal-text: #ffffff;

}
/* definitions */
html, head, body {
    overscroll-behavior-y: none;
	overscroll-behavior-x: none;
	background: var(--back);
}
.geral{
	margin: 5px;
}
h1{
	font-size: 30px;
	color: var(--h1);
	margin: 2px;
}

button{
	border: 1px solid var(--normal-text);
	border-radius: 5px;
	background-color: var(--back);
}
button:hover{
	color: var(--h1);
	box-shadow: 0px 0px 10px var(--h1);
}
button,pre,p{
	font-size: 10px;
	color: var(--normal-text);
}
pre{
	font-size: 7px;
}

table,tr,th,td{
	border: 1px solid #000000;
	padding: 0px;
	border-collapse: collapse;
	text-align:center;
}
th {
	font-size: 10px;
	background-color: #7171ff98;
}
td {
	font-size: 8px;
	background-color: #ff7b7b85;
	white-space: pre-line;
}
/*  */
.interact{
	min-height: 50px;
	min-width: 50px;
}