html, body {
    overscroll-behavior-y: none;
}
h1{
	font-size: 30px;
	color: #0000a0;
	margin: 2px;
}

button,pre,p{
	font-size: 10px;
}
pre{
	font-size: 7px;
}

table,tr,th,td{
	border: 1px solid #000000;
	padding: 0px;
	border-collapse: collapse;
	text-align:center;
}
th {
	font-size: 10px;
	background-color: #7171ff98;
}
td {
	font-size: 8px;
	background-color: #ff7b7b85;
}